<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://combinedbot.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>combinedbot.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>combinedbot</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$combinedbot</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CombinedBotDBEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:combinedbotserver.database.windows.net,1433;Initial Catalog=CombinedBotDB;Persist Security Info=False;User ID=combinedbot;Password=Vinh2016;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:combinedbotserver.database.windows.net,1433;Initial Catalog=CombinedBotDB;Persist Security Info=False;User ID=combinedbot;Password=Vinh2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CombinedBot.Models.CombinedBotDBEntities, Bot Application1" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CombinedBotDBEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.CombinedBotData.csdl|res://*/Models.CombinedBotData.ssdl|res://*/Models.CombinedBotData.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:combinedbotserver.database.windows.net,1433;Initial Catalog=CombinedBotDB;Persist Security Info=False;User ID=combinedbot;Password=Vinh2016;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>